* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 58px;
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 100%;
}

// swiper style

.scrollToop-btn {
  z-index: 999;
  position: fixed;
  color: #fff;
  background: crimson;
  border-radius: 3px;
  width: 45px;
  height: 45px;
  bottom: 10px;
  right: 10px;
  text-align: center;
  font-size: 23px;
  line-height: 45px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s ease;
}

.scrollToop-btn.active {
  right: 10px;
  opacity: 1;
}

// revel style
.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.3s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}