@import "_veriables";
@import "_mixins";


.technology {
  position: relative;

  .technology-background {
    position: absolute;

    img {
      margin-left: 100px;
      margin-top: 130px;
      z-index: -1;
    }
  }

  .content {
    position: absolute;
    margin-top: 200px;

    h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 58px;
      text-align: center;
      color: #333333;
    }

    .content-info {
      @include flex-row;

      .card {
        @include column;

        img {
          margin-bottom: 35px;
        }

        h3 {
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          text-align: left;
          color: #333333;
          padding-bottom: 14px;
        }

        p {
          font-size: 18px;
          font-weight: 300;
          line-height: 20px;
          text-align: left;
          padding-bottom: 85px;
          color: #494949;
        }
      }

      .left {
        width: 45%;
        margin-top: 90px;

        .card-img-1 {
          height: 201px;
          width: 188px;
        }

        .card-img-2 {
          height: 285px;
          width: 216px;
        }

        .card-img-3 {
          height: 144px;
          width: 322px;
        }
      }

      .right {
        width: 45%;
        margin-top: 180px;
        margin-left: 50px;

        .card-img-4 {
          height: 237px;
          width: 230px;
        }

        .card-img-5 {
          height: 168px;
          width: 339px;
        }

        .card-img-6 {
          height: 168px;
          width: 339px;
        }
      }
    }
  }
}


//media


@media (max-width: 567px) {


  .technology {
    .technology-background {
      display: none;
    }

    .content {
      h1 {
        width: 90%;
        margin-top: -160px;
        margin-bottom: 40px;
      }

      .content-info {
        width: 100%;

        img {
          width: 90%;
          margin: 0 auto;
        }

        h3 {
          width: 90%;
          margin: 0 auto;
        }

        p {
          width: 90%;
          margin: 0 auto;
        }

        .left {
          width: 100%;
          margin: 0 auto;

        }

        .right {
          width: 100%;
          margin: 0 auto;

        }
      }
    }
  }


}
